# Configuration files.
.github/
.vscode/
.gitignore
tsconfig.json
.eslintrc.json
package-json.lock
webpack.config.js
CNAME

# Source files.
node_modules/**
src/
**/*.ts

# Documentation files.
docs/

# Debug files.
debug/

# Development files.
.vscode-test/
out/
**/*.map
